
// ### Primary

$Linear-1 : hsl(249, 99%, 64%); // (active input border)
$Linear-2 : hsl(278, 94%, 30%); 
$Red : hsl(0, 100%, 66%); // (input errors)

// ### Neutral

$White: hsl(0, 0%, 100%);
$LightGrayish : hsl(270, 3%, 87%);
$DarkGrayish : hsl(279, 6%, 55%);
$VeryDark : hsl(278, 68%, 11%);

$ff-1 : 'Space Grotesk', sans-serif;
$ff-sign : 'Dancing Script', cursive;
$fs-1 : 18px ;
$fw-1 : 500 ;
